<app-box-loader *ngIf="loading" noData="noData"></app-box-loader>
<div *ngIf="!loading" class="box">
    <!-- <div class="content-block pad-v-12 pad-h-20">
        <div class="breadcrumbs">
        </div>
    </div> -->
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create.a.product'|translate }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update.a.product'|translate }}
                    </span>
                </span>
                <span class="header-description">
                    {{'product.explanation'|translate}}
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">
                <nz-form-item class="field-container">
                    <div>
                        <label>{{'product.name'|translate}}</label>
                    </div>
                    <!-- <div>
                        <span>This will appear on Checkout, customers' receipts, and invoices.</span>
                    </div> -->
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <input type="text" nz-input formControlName="name" placeholder="{{'name'|translate}}" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="field-container">
                    <div>
                        <label>{{'description'|translate }}</label>
                    </div>
                    <nz-form-control>
                        <textarea nz-input formControlName="description"
                            placeholder="{{'description'|translate}}"></textarea>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="field-container">
                    <div>
                        <label>{{'price'|translate}}</label>
                    </div>
                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                        <input type="text" nz-input formControlName="price" placeholder="{{'price'|translate}}" />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="field-container">
                    <div>
                        <label>{{'sale.this'|translate}}</label>
                    </div>
                    <nz-form-control>
                        <span nz-checkbox formControlName="isSale">
                            <span>{{'allow.this.product.to.invoices'|translate}}</span>
                        </span>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item class="field-container">
                    <div>
                        <label>{{'buy.this'|translate}}</label>
                    </div>
                    <nz-form-control>
                        <span nz-checkbox formControlName="isBuy">
                            <span>{{'allow.this.product.to.bills'|translate}}</span>
                        </span>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                <span *ngIf="mode=='add'">
                    {{'create'|translate}}
                </span>
                <span *ngIf="mode=='edit'">
                    {{'update'|translate}}
                </span>
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        <!-- <i nz-icon nzType="warning" nzTheme="fill"></i> -->
        {{control?.errors?.message}}
    </ng-template>
</div>