<nz-form-item [ngStyle]="formItemStyle" class="form-item">
    <label *ngIf="label">
        {{label|translate}}
        <ng-container *ngIf="tooltip">
            <i style="vertical-align: -0.25em" nz-tooltip [nzTooltipTitle]="tooltip|translate" nz-icon
                nzType="question-circle" nzTheme="outline"></i>
        </ng-container>
    </label>
    <nz-form-control #antFormControl [nzErrorTip]="errorTemplate">
        <nz-date-picker (ngModelChange)="onValueChange($event)" [formControl]="ngControl.control" [nzFormat]="dateFormat" nzPlaceHolder="{{placeholder|translate}}"></nz-date-picker>
        <ng-template #errorTemplate let-control>
            {{control?.errors?.message}}
        </ng-template>
    </nz-form-control>
</nz-form-item>