<app-box-loader *ngIf="loading" noData="noData"></app-box-loader>
<div class="box" *ngIf="!loading && !noData">
    <div class="block header pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button nz-button class="btn-custom">
                <i nz-icon nzType="filter" nzTheme="fill"></i>
                {{'filter'|translate}}
            </button>
        </div>
        <div class="column">
            <button (click)="add()" nz-button class="btn-custom">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                {{'new'|translate}}
            </button>
            <button (click)="refresh()" nz-button class="btn-custom">
                <i nz-icon nzType="sync" nzTheme="outline"></i>
                {{'refresh'|translate}}
            </button>
        </div>
    </div>
    <div class="block">
        <nz-table #basicTable nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total" [(nzPageIndex)]="pageIndex"
            [(nzPageSize)]="pageSize" [nzData]="listOfData">
            <thead>
                <tr>
                    <th></th>
                    <th>{{'number'|translate}}</th>
                    <th>{{'customer'|translate}}</th>
                    <th>{{'due'|translate}}</th>
                    <th>{{'total'|translate}}</th>
                    <th>{{'date'|translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data" class="cursor-pointer" (click)="view(data)">
                    <td class="fit-cell status-badge {{data.status.toLowerCase()}}">
                        <nz-tag>{{data.status}}</nz-tag>
                    </td>
                    <td class="fit-cell">
                        <div>{{ data.id }}</div>
                    </td>
                    <td>{{ data.customer?.name }}</td>
                    <td>{{ data.amountDue == 0 ? '-' : '$' + data.amountDue }}</td>
                    <td>${{ data.total }}</td>
                    <td>{{ data.issueDate|date }}</td>
                    <td class="action-column">
                        <button nz-dropdown [nzDropdownMenu]="dropdownActions" nzTrigger="click" nz-button class="btn-custom">
                            <i nz-icon nzType="ellipsis"></i>
                        </button>
                        <nz-dropdown-menu #dropdownActions="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item (click)="add(data)">
                                    <i nz-icon nzType="edit"></i>{{'edit'|translate}}
                                </li>
                                <li nz-menu-item (click)="delete(data)">
                                    <i nz-icon nzType="delete"></i>{{'delete'|translate}}
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>