<app-form [content]="content" [component]="self">
    <ng-template #content>
        <form nz-form [formGroup]="form">
            <app-input label="name" formControlName="name" placeholder="name"></app-input>

            <app-text label="description" formControlName="description" placeholder="description"></app-text>

            <app-input label="tax.number" formControlName="taxNumber" placeholder="tax.number"></app-input>

            <app-input type="number" label="tax.rate%" formControlName="rate" placeholder="tax.rate%"></app-input>

            <app-checkbox tooltip="compound.tax.tooltip" formControlName="isCompound" label="this.is.a.compound.tax">
            </app-checkbox>
        </form>
    </ng-template>
</app-form>