<app-form [content]="content" [component]="self">
    <ng-template #content>
        <form nz-form [formGroup]="form">
            <div class="block pad-t-20 pad-b-10 box-divider" style="padding-left: 16px;">
                <div class="content">
                    <div class="invoice-head">
                        <div class="left">
                            <app-button-select labelKey="displayName" #customerSelect label="customer"
                                formControlName="customerId" [content]="customerTemplate">
                                <ng-template #customerTemplate let-customer>
                                    <div class="mb-14">
                                        <div class="fs-i">{{'customer'|translate}}</div>
                                        <div class="fw-600">{{customer.displayName}}</div>
                                        <div>{{customer.contact}}</div>
                                        <div>{{customer.mobile}}</div>
                                        <div>{{customer.email}}</div>
                                    </div>
                                </ng-template>
                            </app-button-select>
                        </div>
                        <div class="right">
                            <app-input label="number" placeholder="number" formControlName="code"></app-input>
                            <app-date-picker label="invoice.date" placeholder="invoice.date"
                                formControlName="issueDate"></app-date-picker>
                            <app-date-picker label="payment.due" placeholder="payment.due"
                                formControlName="paymentDueDate">
                            </app-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block pad-b-10 box-divider">
                <div class="content invoice-items">
                    <nz-table #basicTable nzHideOnSinglePage="true" [nzNoResult]="noData"
                        class="hide-table-placeholder no-hover">
                        <thead>
                            <tr>
                                <th>{{'name'|translate}}</th>
                                <th>{{'quantity'|translate}}</th>
                                <th>{{'price'|translate}}</th>
                                <th>{{'tax'|translate}}</th>
                                <th class="ta-right">{{'amount'|translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="items">
                                <ng-container *ngFor="let data of form.get('items')?.controls; let i = index">
                                    <tr class="bg-white" [formGroupName]="i">
                                        <td>
                                            <app-autocomplete [name]="i" [options]="products" #autocomplete
                                                (onChange)="searchProduct(autocomplete)" [formItemStyle]="formItemStyle"
                                                placeholder="name" formControlName="name"></app-autocomplete>
                                        </td>
                                        <td>
                                            <app-input [canSuffixShow]="units?.length > 0" [suffix]="unitSuffix" type="number"
                                                [formItemStyle]="formItemStyle" placeholder="quantity"
                                                formControlName="quantity"
                                                (onChange)="invoiceItemQuantityChanged(data)"></app-input>
                                            <ng-template #unitSuffix>
                                                <nz-select [attr.name]="i" #unitSelects formControlName="unitId"
                                                    style="min-width: 70px;">
                                                    <nz-option *ngFor="let unit of units" [nzLabel]="unit.symbol"
                                                        [nzValue]="unit.id"></nz-option>
                                                </nz-select>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <app-input [prefix]="currency" type="number" [formItemStyle]="formItemStyle"
                                                placeholder="price" formControlName="unitPrice"
                                                (onChange)="invoiceItemPriceChanged(data)"></app-input>
                                        </td>
                                        <td style="max-width: 150px;">
                                            <app-select-control [formItemStyle]="formItemStyle" placeholder="tax"
                                                #taxSelects [name]="i" formControlName="taxId"></app-select-control>
                                        </td>
                                        <td class="ta-right">
                                            <strong>{{currency}} {{ data.controls?.amount?.value || 0 }}</strong>
                                        </td>
                                        <td>
                                            <span class="actions">
                                                <span class="delete cursor-pointer" (click)="deleteItemFromInvoice(i)"
                                                    title="{{'delete'|translate}}">
                                                    <i nz-icon nzType="delete"></i>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <tr class="bg-white no-border">
                                <td style="text-align: left;" colspan="5" class="center bg-white">
                                    <div>
                                        <a (click)="addAnItem();">
                                            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                                            {{'add.new.x0'|translate:{x0: 'product'|translate } }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white no-border">
                                <td colspan="4" class="ta-right">
                                    <strong>{{'subtotal'|translate}}</strong>
                                </td>
                                <td class="ta-right">
                                    <strong>{{currency}} {{subtotal}}</strong>
                                </td>
                                <td style="width: 25px"></td>
                            </tr>
                            <tr class="bg-white no-border">
                                <td colspan="4" class="ta-right">
                                    <app-input [formItemStyle]="adjustFormItemStyle"
                                        [formControlStyle]="adjustFormControlStyle" value="Adjustment"
                                        placeholder="adjustment" formControlName="adjustmentText"></app-input>
                                </td>
                                <td style="width: 150px;" class="ta-right">
                                    <app-input type="number" [formItemStyle]="formItemStyle" [prefix]="currency"
                                        placeholder="amount" formControlName="adjustmentAmount"></app-input>
                                </td>
                                <td style="width: 25px"></td>
                            </tr>
                            <tr class="bg-white no-border">
                                <td colspan="4" class="ta-right">
                                    <strong>{{'total'|translate}}</strong>
                                </td>
                                <td style="width: 150px;" class="ta-right">
                                    <strong>{{currency}} 0</strong>
                                </td>
                                <td style="width: 25px"></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </form>
    </ng-template>
</app-form>

<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>