<app-form [content]="content" [component]="self">
    <ng-template #content>
        <form nz-form [formGroup]="form">
            <div class="block pad-t-20 pad-b-10 box-divider">
                <div class="content">
                    <div class="invoice-head">
                        <div class="left">
                            <app-button-select labelKey="displayName" #customerSelect label="customer"
                                formControlName="customer" [content]="customerTemplate">
                                <ng-template #customerTemplate let-customer>
                                    <div class="mb-14">
                                        <div class="fs-i"> Bill to</div>
                                        <div class="fw-600">{{customer.displayName}}</div>
                                        <div>{{customer.contact}}</div>
                                        <div>{{customer.mobile}}</div>
                                        <div>{{customer.email}}</div>
                                    </div>
                                </ng-template>
                            </app-button-select>
                        </div>
                        <div class="right">
                            <app-date-picker label="invoice.date" placeholder="invoice.date" formControlName="invoiceDate"></app-date-picker>
                            <app-date-picker label="payment.due" placeholder="payment.due" formControlName="paymentDue"></app-date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block bg-offset pad-b-10 box-divider">
                <div class="content invoice-items">
                    <nz-table #basicTable nzHideOnSinglePage="true" [nzNoResult]="noData"
                        class="hide-table-placeholder ">
                        <thead>
                            <tr>
                                <th>{{'name'|translate}}</th>
                                <th>{{'description'|translate}}</th>
                                <th>{{'quantity'|translate}}</th>
                                <th>{{'price'|translate}}</th>
                                <th class="ta-right">{{'amount'|translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container formArrayName="items">
                                <ng-container *ngFor="let data of form.get('items')?.controls; let i = index">
                                    <tr class="bg-white" [formGroupName]="i">
                                        <td>
                                            <app-autocomplete [options]="products" #autocomplete (onChange)="searchProduct(autocomplete)" [formItemStyle]="formItemStyle" placeholder="name" formControlName="name"></app-autocomplete>
                                        </td>
                                        <td>
                                            <app-input [formItemStyle]="formItemStyle" placeholder="description" formControlName="description"></app-input>
                                        </td>
                                        <td style="width: 130px;">
                                            <app-input type="number" [formItemStyle]="formItemStyle" placeholder="quantity" formControlName="quantity" (onChange)="invoiceItemQuantityChanged(data)"></app-input>
                                        </td>
                                        <td style="width: 170px;">
                                            <app-input prefix="৳" type="number" [formItemStyle]="formItemStyle" placeholder="price" formControlName="price" (onChange)="invoiceItemPriceChanged(data)"></app-input>
                                        </td>
                                        <td class="ta-right">
                                            ৳ {{ data.controls?.amount?.value || 0 }}
                                        </td>
                                        <td>
                                            <span class="actions">
                                                <span class="delete cursor-pointer" (click)="deleteItemFromInvoice(i)"
                                                    title="{{'delete'|translate}}">
                                                    <i nz-icon nzType="delete"></i>
                                                </span>
                                            </span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            <tr>
                                <td colspan="6" class="center bg-white">
                                    <div>
                                        <a (click)="addAnItem();">
                                            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                                            {{'add.new.x0'|translate:{x0: 'product'|translate } }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="bg-white">
                                <td colspan="4" class="ta-right">
                                    {{'subtotal'|translate}}
                                </td>
                                <td class="ta-right">
                                    ৳ {{subtotal}}
                                </td>
                                <td style="width: 25px"></td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </form>
    </ng-template>
</app-form>

<!-- <app-box-loader *ngIf="loading" noData="noData"></app-box-loader>
<div [ngStyle]="{'display': loading ? 'none' : 'block'}" class="box add-invoice-box">
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create'|translate }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update'|translate }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <form nz-form [formGroup]="form">

    </form>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                <span *ngIf="mode=='add'">
                    {{'create'|translate}}
                </span>
                <span *ngIf="mode=='edit'">
                    {{'update'|translate}}
                </span>
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        {{control?.errors?.message}}
    </ng-template>
</div> -->

<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>