<nz-form-item [ngStyle]="formItemStyle" class="form-item">
    <div *ngIf="!noLabel && label">
        <label [class.required]="mandatory">
            {{label|translate }}
            <ng-container *ngIf="tooltip">
                <i nz-tooltip [nzTooltipTitle]="tooltip|translate" nz-icon
                    nzType="question-circle" nzTheme="outline"></i>
            </ng-container>
        </label>
    </div>
    <nz-form-control #antFormControl [nzErrorTip]="errorTemplate">
        <nz-select #select [formControl]="ngControl.control" [nzDisabled]="disable" (nzScrollToBottom)="loadMore()" 
            [nzLoading]="loading" nzShowSearch (ngModelChange)="onValueChange($event)" [nzMode]="mode" nzAllowClear
            [nzPlaceHolder]="'select.x0'|translate:{x0: label|translate|lowercase}" [nzDropdownRender]="renderTemplate" [nzNotFoundContent]="notFoundTemplate" (nzOpenChange)="onOpenChange($event)">
            <nz-option *ngFor="let p of items" [nzLabel]="p[labelKey]" [nzValue]="p[idKey]">
            </nz-option>
            <nz-option *ngIf="loadingMore" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i> {{'loading.data'|translate}}
            </nz-option>
        </nz-select>
    </nz-form-control>
    <span *ngIf="infoText">
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
        <span> {{infoText}}</span>
    </span>
</nz-form-item>

<ng-template #notFoundTemplate>
    {{ 'x0.not.found'|translate:{x0: label|translate} }}
</ng-template>

<ng-template #renderTemplate>
    <nz-divider style="margin: 5px 0;"></nz-divider>
    <div style="padding: 5px;" class="container">
        <a class="add-item" (click)="addItem()">
            <i nz-icon nzType="plus"></i> {{ 'add.new.x0'|translate:{x0: label|translate|lowercase} }}
        </a>
    </div>
</ng-template>

<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>