<nz-form-item class="field-container">
    <div>
        <label [class.required]="mandatory">{{label|translate }}</label>
    </div>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
        <nz-select [nzDisabled]="disabled" (nzScrollToBottom)="loadMore()" [formControl]="formControl" class="btn-custom" [nzLoading]="loading" nzShowSearch (ngModelChange)="onValueChange($event)" [nzMode]="mode"
            nzAllowClear [nzPlaceHolder]="'select.x0'|translate:{x0: label|translate|lowercase}">
            <nz-option *ngFor="let p of items" [nzLabel]="p[labelKey]" [nzValue]="p.id">
            </nz-option>
            <nz-option *ngIf="loadingMore" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon"></i> {{'loading.data'|translate}}
              </nz-option>
        </nz-select>
    </nz-form-control>
    <span *ngIf="infoText">
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>
        <span> {{infoText}}</span>
    </span>
</nz-form-item>
<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>
