<nz-form-item class="form-item">
    <nz-form-control #antFormControl>
        <label [formControl]="ngControl.control" (ngModelChange)="onValueChange($event)" nz-checkbox>
            {{label|translate}}
            <ng-container *ngIf="tooltip">
                <i style="vertical-align: -0.25em" nz-tooltip [nzTooltipTitle]="tooltip|translate" nz-icon
                    nzType="question-circle" nzTheme="outline"></i>
            </ng-container>
            <ng-container *ngIf="info">
                <br>
                <span style="font-style: italic; font-size: 12px;">{{info|translate}}</span>
            </ng-container>
        </label>
    </nz-form-control>
</nz-form-item>