<div class="quick-create">
    <!-- <div class="col general">
        <i nz-icon nzType="appstore"></i>
        <span class="title">General</span>
    </div> -->
    <div class="col general">
        <i nz-icon nzType="gift"></i>
        <span class="title">{{'product'|translate}}</span>
        <ul>
            <li>
                <a>
                    <i nz-icon nzType="plus"></i>
                    <span>{{'product'|translate}}</span>
                </a>
            </li>
            <li>
                <a>
                    <i nz-icon nzType="plus"></i>
                    <span>{{'product.categories'|translate}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col sales">
        <i nz-icon nzType="shopping"></i>
        <span class="title">{{'sales'|translate}}</span>
        <ul>
            <li>
                <a>
                    <i nz-icon nzType="plus"></i>
                    <span>{{'invoice'|translate}}</span>
                </a>
            </li>
            <li>
                <a>
                    <i nz-icon nzType="plus"></i>
                    <span>{{'customer'|translate}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="col purchase">
        <i nz-icon nzType="shopping"></i>
        <span class="title">{{'purchase'|translate}}</span>
        <ul>
            <li>
                <a>
                    <i nz-icon nzType="plus"></i>
                    <span>{{'bill'|translate}}</span>
                </a>
            </li>
            <li>
                <a>
                    <i nz-icon nzType="plus"></i>
                    <span>{{'supplier'|translate}}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- <div class="col banking">
        <i nz-icon nzType="bank"></i>
        <span class="title">Banking</span>
    </div> -->
</div>