<app-table [head]="head" [body]="body" [fetch]="fetch">
    <ng-template #head>
        <!-- <th></th> -->
        <th>
            {{'name'|translate}}
            <!-- <input nz-input /> -->
        </th>
        <th class="fit-cell">{{'created'|translate}}</th>
        <th></th>
    </ng-template>
    <ng-template #body let-data="rowData">
        <!-- <td class="fit-cell">
            <nz-switch nzSize="small"></nz-switch>
        </td> -->
        <td>
            {{data.name}}
        </td>
        <td class="fit-cell">
            <span nz-tooltip nzTooltipTitle="{{data.createdAt|momentDate}}">{{data.createdAt|timeAgo|translate}}</span>
        </td>
    </ng-template>
</app-table>