<nz-form-item [ngStyle]="formItemStyle" class="form-item">
    <label *ngIf="label">
        {{label|translate}}
        <ng-container *ngIf="tooltip">
            <i nz-tooltip [nzTooltipTitle]="tooltip|translate" nz-icon
                nzType="question-circle" nzTheme="outline"></i>
        </ng-container>
    </label>
    <nz-form-control #antFormControl [nzErrorTip]="errorTemplate">
        <nz-input-group [nzAddOnBefore]="prefix" [nzAddOnAfter]="suffix">
            <input [value]="value" [formControl]="ngControl.control" (ngModelChange)="onValueChange($event)" [type]="type" nz-input
                placeholder="{{placeholder|translate}}" />
        </nz-input-group>
        <ng-template #errorTemplate let-control>
            {{control?.errors?.message}}
        </ng-template>
    </nz-form-control>
</nz-form-item>