<nz-form-item [ngStyle]="formItemStyle" class="form-item">
    <label *ngIf="label">
        {{label|translate}}
        <ng-container *ngIf="tooltip">
            <i nz-tooltip [nzTooltipTitle]="tooltip|translate" nz-icon nzType="question-circle" nzTheme="outline"></i>
        </ng-container>
    </label>
    <nz-form-control [ngStyle]="formControlStyle" #antFormControl [nzErrorTip]="errorTemplate">
        <ng-container *ngIf="prefix || suffix">
            <nz-input-group [nzAddOnBefore]="prefix" [nzAddOnAfter]="suffix">
                <ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
            </nz-input-group>
        </ng-container>
        <ng-container *ngIf="!prefix && !suffix">
            <ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
        </ng-container>

        <ng-template #inputTemplate>
            <input [formControl]="ngControl.control"
                (ngModelChange)="onValueChange($event)" [type]="type" nz-input
                placeholder="{{placeholder|translate}}" />
        </ng-template>

        <ng-template #errorTemplate let-control>
            {{control?.errors?.message}}
        </ng-template>

    </nz-form-control>
</nz-form-item>