<ng-container *ngIf="config">
    <app-box-loader *ngIf="loading"></app-box-loader>
    <div class="box no-shadow" [style.display]="loading ? 'none' : ''">
        <div class="block page-header">
            <div class="column" style="flex-direction: column; align-items: flex-start;">
                <div>
                    <a (click)="cancel()" style="font-size: 12px;">
                        <i nz-icon nzType="arrow-left"></i>
                        {{ 'back'|translate }}
                    </a>
                </div>
                <h1 class="no-margin">
                    <span>{{ title }}</span>
                </h1>
            </div>
            <div class="column">
            </div>
        </div>
        <div class="block pad-t-20">
            <div class="content">

                <ng-container *ngIf="config">
                    <form [formGroup]="form">
                        <ng-container *ngFor="let r of config.rows">
                            <ng-container *ngFor="let col of r.columns">
                                <ng-container *ngTemplateOutlet="controlTemplate; context: { $implicit: col.controls }">
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="config.controls">
                            <ng-container *ngTemplateOutlet="controlTemplate; context: { $implicit: config.controls }">
                            </ng-container>
                        </ng-container>

                        <ng-template #controlTemplate let-controls>
                            <ng-container *ngFor="let c of controls">
                                <app-input *ngIf="c.controlType == 'input'" [config]="c" [formControlName]="c.name">
                                </app-input>

                                <app-text *ngIf="c.controlType == 'text'" [config]="c" [formControlName]="c.name">
                                </app-text>

                                <app-checkbox *ngIf="c.controlType == 'checkbox'" [config]="c"
                                    [formControlName]="c.name">
                                </app-checkbox>

                                <app-select-control *ngIf="c.controlType == 'select'" [config]="c"
                                [formControlName]="c.name"></app-select-control>
                            </ng-container>
                        </ng-template>

                    </form>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="form-footer" [style.display]="loading ? 'none' : ''">
        <div class="inner">
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom margin-right px10"
                nzType="primary">
                <span *ngIf="submitButtonText">
                    {{submitButtonText|translate}}
                </span>
                <span *ngIf="!submitButtonText">
                    {{'save'|translate}}
                </span>
            </button>
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
        </div>
    </div>
</ng-container>