<nz-layout class="app-layout" [class.bn]="selectedLanguage == 'bn'">
  <div class="app-layout-body">
    <nz-header class="top-header">
      <div class="organization-outer">
        <div class="organization cursor-pointer">
          <div class="name-container" nz-dropdown [nzDropdownMenu]="orgMenu" nzTrigger="click">
            <div class="image display-flex">
              <nz-avatar class="shadow-m" nzIcon="bank"></nz-avatar>
            </div>
            <div class="name" *ngIf="currentOrganization">
              <span style="line-height: 1;">{{currentOrganization.name}}</span>
              <i nz-icon nzType="down" nzTheme="outline"></i>
            </div>
          </div>
          <nz-dropdown-menu #orgMenu="nzDropdownMenu">
            <ul nz-menu class="organization-dropdown">
              <ng-container *ngFor="let o of organizations">
                <li nz-menu-item (click)="selectOrganization(o)">
                  <div>
                    <nz-avatar nzIcon="bank"></nz-avatar>
                    <span>{{o.name}}</span>
                  </div>
                </li>
              </ng-container>
              <li nz-menu-item (click)="newOrganization()">
                <div>
                  <nz-avatar nzIcon="plus"></nz-avatar>
                  <span>{{'new'|translate}}</span>
                </div>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <div class="column search">
        <nz-input-group [nzPrefix]="prefixIconSearch">
          <input type="text" nz-input placeholder="{{'search'|translate}}" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <div class="column">
        <div>
          <nz-select (ngModelChange)="languageChanged($event)" [(ngModel)]="selectedLanguage">
            <nz-option nzLabel="English" nzValue="en"></nz-option>
            <nz-option nzLabel="বাংলা" nzValue="bn"></nz-option>
          </nz-select>
        </div>
        <div class="icon-btn" nz-tooltip nzTooltipTitle="{{'quick.create'|translate}}" nzTooltipPlacement="bottom">
          <div>
            <i nz-icon nzType="plus"></i>
          </div>
        </div>
        <nz-badge [nzCount]="count">
          <div class="icon-btn" nz-dropdown nz-tooltip nzTooltipTitle="{{'notifications'|translate}}"
            nzTooltipPlacement="bottom">
            <div>
              <i nz-icon nzType="notification"></i>
            </div>
          </div>
        </nz-badge>
        <div class="icon-btn" (click)="openSettingsDrawer()" nz-tooltip nzTooltipTitle="{{'settings'|translate}}"
          nzTooltipPlacement="bottom">
          <div>
            <i nz-icon nzType="setting"></i>
          </div>
        </div>
        <div class="icon-btn" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="contentTemplate"
          nzPopoverPlacement="bottomRight">
          <div>
            <i nz-icon nzType="caret-down"></i>
            <ng-template #contentTemplate>
              <div class="user-dropdown">
                <div>
                  <div class="name">
                    <span>Sahidul Islam</span>
                  </div>
                  <div class="role">
                    <span>Administrator</span>
                  </div>
                </div>
                <div>
                  <ul>
                    <li>
                      <a>
                        <i nz-icon nzType="profile" nzTheme="outline"></i>
                        {{'profile'|translate}}
                      </a>
                    </li>
                    <li>
                      <a>
                        <i nz-icon nzType="logout" nzTheme="outline"></i>
                        {{'sign.out'|translate}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-layout>
      <nz-sider class="menu-sidebar" nzCollapsible nzWidth="220px" nzBreakpoint="md">
        <perfect-scrollbar [config]="config" style="height: calc(100vh - 100px);">
          <nz-space></nz-space>
          <ul nz-menu nzMode="inline" *ngIf="permissionLoaded">
            <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: nav }"></ng-container>
            <ng-template #menuTemplate let-nav>
              <ng-container *ngFor="let n of nav">
                <ng-container *ngIf="n.granted">
                  <li (click)="navClicked(n)" *ngIf="!n.nav" nz-menu-item [nzPaddingLeft]="10" style="height: auto;">
                    <div class="li-inner-div" [ngStyle]="{'paddingLeft': n.level * 10+'px'}">
                      <i *ngIf="n.icon" nz-icon nzType="{{n.icon}}"></i>
                      <span>{{n.title|translate}}</span>
                    </div>
                  </li>
                  <!-- nzTitle="{{n.title|translate}}" [nzIcon]="n.icon" -->
                  <li (click)="navClicked(n)" [nzTitle]="titleTpl" *ngIf="n.nav" nz-submenu [nzPaddingLeft]="10"
                    style="height: auto;" [nzMenuClassName]="'x-sub-menu'">
                    <ng-template #titleTpl>
                      <div class="li-inner-div" style="height: auto;">
                        <i *ngIf="n.icon" nz-icon [nzType]="n.icon"></i>
                        <span>{{n.title|translate}}</span>
                      </div>
                    </ng-template>
                    <ul>
                      <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: n.nav }">
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ng-container>
            </ng-template>
          </ul>

          <!-- <ul nz-menu nzMode="inline">
            <li nz-menu-item>
              <i nz-icon nzType="home"></i>
              <span>{{'home'|translate}}</span>
            </li>
            <li nz-menu-item nzMatchRouter>
              <span>
                <a routerLink="/organizations">
                  <i nz-icon nzType="appstore" nzTheme="outline"></i>
                  <span>{{'organization'|translate}}</span>
                </a>
              </span>
            </li>
            <li nz-menu-item nzMatchRouter>
              <span>
                <a routerLink="/products">
                  <i nz-icon nzType="gift"></i>
                  <span>{{'products'|translate}}</span>
                </a>
              </span>
            </li>
            <li nz-submenu nzTitle="{{'sales'|translate}}" nzIcon="shopping">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/invoices">
                    {{'invoices'|translate}}
                  </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/customers">
                    {{'customers'|translate}}
                  </a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzTitle="{{'purchase'|translate}}" nzIcon="shopping-cart">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a>
                    {{'bills'|translate}}
                  </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a routerLink="/vendors">
                    {{'vendors'|translate}}
                  </a>
                </li>
              </ul>
            </li>
            <li nz-submenu nzTitle="{{'accounting'|translate}}" nzIcon="safety-certificate">
              <ul>
                <li nz-menu-item nzMatchRouter>
                  <a>
                    {{'transaction'|translate}}
                  </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a>
                    {{'chart.of.account'|translate}}
                  </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                  <a>
                    {{'tax'|translate}}
                  </a>
                </li>
              </ul>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="bar-chart"></i>
              <span>{{'report'|translate}}</span>
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="setting"></i>
              <span>{{'settings'|translate}}</span>
            </li>
          </ul> -->
        </perfect-scrollbar>
        <!-- <div>{{version}}</div> -->
      </nz-sider>
      <nz-content>
        <perfect-scrollbar [config]="config" style="height: calc(100vh - 126px);">
          <!-- <nz-breadcrumb style="padding: 10px 40px 0 40px;">
            <nz-breadcrumb-item>
              <i nz-icon nzType="home"></i>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              <a><i nz-icon nzType="user"></i><span>Application List</span></a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>
              Application
            </nz-breadcrumb-item>
          </nz-breadcrumb> -->
          <div class="inner-content">
            <router-outlet></router-outlet>
          </div>
        </perfect-scrollbar>
      </nz-content>
    </nz-layout>
  </div>
</nz-layout>