:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .app-layout {
    height: 100vh;
  }
  
  .app-layout-body {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }
  
  .header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
  .sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #fff;
    transition: all .3s;
  }
  
  .sidebar-logo img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
  
  .sidebar-logo h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #1890ff;;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
  
  nz-header {
    color: #8792a2;
    padding: 10px 24px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    box-shadow: 0 1px #e3e8ee;
    .column {
      display: flex;
      align-items: center;
      flex: 1;
      &:last-child {
        justify-content: flex-end;
      }
      >*:not(:first-child) {
        margin-left: 25px;
      }
      &.search {
       margin-left: 23px;
       .ant-input-affix-wrapper {
        border: unset;
       }
       input:focus, input:hover {
         border: none !important;
       }
       .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
         box-shadow: none !important;
       }
      }
    }
    .ant-avatar {
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
    }
  }

  .organization {
    height: 100%;
    width: 196px;
    .name-container {
      display: flex;
      align-items: center;
      .name {
        font-weight: 500;
        font-size: 16px;
        color: #1a1f36;
        margin-left: 10px;
        display: flex;
        align-items: center;
        i {
          padding-left: 7px;
          padding-top: 3px;
          font-size: 12px;
        }
      }
    }
  }

  .organization-dropdown {
    li {
      display: flex;
      align-items: center;
      span {
        padding-left: 5px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    .ant-avatar {
      color: rgba(0, 0, 0, 0.65);
      background-color: #fff;
    }
    .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover {
      background-color: #5469d4;
      color: #fff;
    }
  }

  .user-dropdown {
    width: 200px;
    .name {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    .role {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
    }
    ul {
      margin: 10px 0 0 0;
      padding: 0;
      li {
        margin: 0;
        list-style: none;
        padding: 2px 0;
        font-weight: 600;
      }
    }
  }
