<nz-layout class="app-layout" [class.bn]="selectedLanguage == 'bn'">
  <div class="app-layout-body">
    <nz-header>
      <div class="organization cursor-pointer">
        <div class="name-container" nz-dropdown [nzDropdownMenu]="orgMenu" nzTrigger="click">
          <div class="image display-flex">
            <nz-avatar class="shadow-m" nzIcon="bank"></nz-avatar>
          </div>
          <div class="name">
            <span>Personal</span>
            <i nz-icon nzType="down" nzTheme="outline"></i>
          </div>
        </div>
        <nz-dropdown-menu #orgMenu="nzDropdownMenu">
          <ul nz-menu class="organization-dropdown">
            <li nz-menu-item>
              <nz-avatar nzIcon="bank"></nz-avatar>
              <span>Personal</span>
            </li>
            <li nz-menu-item>
              <nz-avatar nzIcon="plus"></nz-avatar>
              <span>{{'new.account'|translate}}</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
      <div class="column search">
        <nz-input-group [nzPrefix]="prefixIconSearch">
          <input type="text" nz-input placeholder="{{'search'|translate}}" />
        </nz-input-group>
        <ng-template #prefixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <div class="column">
        <div>
          <nz-select (ngModelChange)="languageChanged($event)" [(ngModel)]="selectedLanguage">
            <nz-option nzLabel="English" nzValue="en"></nz-option>
            <nz-option nzLabel="Bangla" nzValue="bn"></nz-option>
          </nz-select>
        </div>
        <div nz-dropdown>
          <nz-badge class="font-18">
            <i nz-icon nzType="bell" nzTheme="fill"></i>
          </nz-badge>
        </div>
        <div class="display-flex cursor-pointer" nz-popover nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottomRight">
          <nz-avatar class="shadow-m" nzIcon="user"></nz-avatar>
          <ng-template #contentTemplate>
            <div class="user-dropdown ">
              <div>
                <div class="name">
                  <span>Sahidul Islam</span>
                </div>
                <div class="role">
                  <span>Administrator</span>
                </div>
              </div>
              <div>
                <ul>
                  <li>
                    <a>
                      <i nz-icon nzType="profile" nzTheme="outline"></i>
                      {{'profile'|translate}}
                    </a>
                  </li>
                  <li>
                    <a>
                      <i nz-icon nzType="logout" nzTheme="outline"></i>
                      {{'sign.out'|translate}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-layout>
      <nz-sider class="menu-sidebar" nzCollapsible nzWidth="220px" nzBreakpoint="md" [nzTrigger]="null">
        <ul nz-menu nzMode="inline">
          <li nz-menu-item>
            <i nz-icon nzType="home"></i>
            <span>{{'home'|translate}}</span>
          </li>
          <li nz-menu-item nzMatchRouter>
            <span>
              <a routerLink="/organizations">
                <i nz-icon nzType="appstore" nzTheme="outline"></i>
                <span>{{'organization'|translate}}</span>
              </a>
            </span>
          </li>
          <li nz-menu-item nzMatchRouter>
            <span>
              <a routerLink="/products">
                <i nz-icon nzType="gift"></i>
                <span>{{'products'|translate}}</span>
              </a>
            </span>
          </li>
          <li nz-submenu nzTitle="{{'sales'|translate}}" nzIcon="shopping">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/invoices">
                  {{'invoices'|translate}}
                </a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/customers">
                  {{'customers'|translate}}
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="{{'purchase'|translate}}" nzIcon="shopping-cart">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>
                  {{'bills'|translate}}
                </a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/vendors">
                  {{'vendors'|translate}}
                </a>
              </li>
            </ul>
          </li>
          <li nz-submenu nzTitle="{{'accounting'|translate}}" nzIcon="safety-certificate">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>
                  {{'transaction'|translate}}
                </a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>
                  {{'chart.of.account'|translate}}
                </a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a>
                  {{'tax'|translate}}
                </a>
              </li>
            </ul>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="bar-chart"></i>
            <span>{{'report'|translate}}</span>
          </li>
          <li nz-menu-item>
            <i nz-icon nzType="setting"></i>
            <span>{{'settings'|translate}}</span>
          </li>
        </ul>
      </nz-sider>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </div>
</nz-layout>