<nz-layout class="app-layout" [class.bn]="selectedLanguage == 'bn'">
  <div class="app-layout-body">
    <nz-header>
      <div class="column">
        <!-- <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span> -->
      </div>
      <div class="column">
        <div>
          <nz-select nzPlaceHolder="Select a language" (ngModelChange)="languageChanged($event)" [(ngModel)]="selectedLanguage">
            <nz-option nzLabel="English" nzValue="en"></nz-option>
            <nz-option nzLabel="Bangla" nzValue="bn"></nz-option>
          </nz-select>
        </div>
        <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          <nz-badge class="font-18" [nzCount]="count">
            <i nz-icon nzType="bell"></i>
          </nz-badge>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>1st menu item</li>
              <li nz-menu-item>2nd menu item</li>
              <li nz-menu-divider></li>
              <li nz-menu-item nzDisabled>disabled menu item</li>
              <li nz-submenu nzTitle="sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li>
              <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                <ul>
                  <li nz-menu-item>3rd menu item</li>
                  <li nz-menu-item>4th menu item</li>
                </ul>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div nz-popover nzPopoverTrigger="click">
          <nz-avatar nzIcon="user"></nz-avatar>
          <ng-template #contentTemplate>
            <a>Close</a>
          </ng-template>
        </div>
      </div>
    </nz-header>
    <nz-layout>
      <nz-sider class="menu-sidebar" nzCollapsible nzWidth="220px" nzBreakpoint="md" [nzTrigger]="null">
        <!-- <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
              <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
              <h1>Comment Client</h1>
            </a>
          </div> -->
        <ul nz-menu nzMode="inline">
          <li nz-submenu nzTitle="{{'sales'|translate}}" nzIcon="tag">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/invoices">
                  {{'invoices'|translate}}
                </a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/customers">
                  {{'customers'|translate}}
                </a>
              </li>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="/products">{{'products'|translate}}</a>
              </li>
            </ul>
          </li>
          <!-- <li nz-menu-item nzTitle="Products" nzMatchRouter>
            <a routerLink="/products">
              <i nz-icon nzType="code-sandbox" nzTheme="outline"></i>
              {{'products'|translate}}
            </a>
          </li> -->
        </ul>
      </nz-sider>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </div>
</nz-layout>