<app-box-loader *ngIf="loading" noData="noData"></app-box-loader>
<div id="invoice-view-section" [style.display]="loading ? 'none' : ''">
    <div class="box no-shadow" style="padding: 0 16px; background-color: #fff;">
        <div class="block page-header" style="padding-left: 0;">
            <div class="column" style="flex-direction: column; align-items: flex-start;">
                <div>
                    <a (click)="cancel()" style="font-size: 12px;">
                        <i nz-icon nzType="arrow-left"></i>
                        {{ 'back'|translate }}
                    </a>
                </div>
                <h1 class="no-margin" style="display: flex; align-items: center;">
                    <span>{{ objectName|translate }} #{{model.number}}</span>
                    <span style="display: flex; padding-left: 10px;" *ngIf="model.status"
                        class="status-badge {{model.status.toLowerCase()}}">
                        <nz-tag>
                            <span>{{model.status.toLowerCase()|translate}}</span>
                        </nz-tag>
                    </span>
                </h1>
                <div style="padding: 10px 0; width: 100%;">
                    <div nz-row>
                        <div nz-col nzSpan="12">
                            <button [disabled]="model.amountDue == 0" style="margin: 0;" nzType="primary"
                                (click)="payment()" nz-button class="btn-custom">
                                {{'add.payment'|translate}}
                            </button>
                            <button (click)="edit()" nz-button class="btn-custom">
                                {{'edit'|translate}}
                            </button>
                            <button (click)="add()" nz-button class="btn-custom">
                                {{'create'|translate}}
                            </button>
                        </div>
                        <div class="ta-right" nz-col nzSpan="12">
                            <button (click)="refresh()" class="btn-custom" nz-button>
                                <i nz-icon nzType="sync"></i>
                                {{'refresh'|translate}}
                            </button>
                            <button nzType="danger" (click)="add()" nz-button class="btn-custom">
                                <i nz-icon nzType="delete"></i>
                                {{'delete'|translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block pad-t-20">
            <div class="content">
                <div nz-row>
                    <div nz-col nzSpan="17">
                        <ng-container *ngIf="contact">
                            <div class="fs-i">{{contactTitle|translate}}</div>
                            <div class="fw-600">
                                <a (click)="showCustomerDrawer(contact)">{{contact.displayName}}</a>
                            </div>
                            <div>{{contact.contact}}</div>
                            <div>{{contact.mobile}}</div>
                            <div>{{contact.email}}</div>
                        </ng-container>
                    </div>
                    <div nz-col nzSpan="3" style="text-align: right;">
                        <div>{{'number'|translate}}</div>
                        <div>{{'invoice.date'|translate}}</div>
                        <div>{{'payment.due'|translate}}</div>
                    </div>
                    <div nz-col nzSpan="4">
                        <div class="ta-right">{{model.number}}</div>
                        <div class="ta-right">
                            <span nz-tooltip [nzTooltipTitle]="model.issueDate|momentDate">
                                {{model.issueDate|momentDate:'MMMM DD, YYYY'}}
                            </span>
                        </div>
                        <div class="ta-right">
                            <span nz-tooltip [nzTooltipTitle]="model.paymentDueDate|momentDate">
                                {{model.paymentDueDate|momentDate:'MMMM D, YYYY'}}
                            </span>
                        </div>
                    </div>
                </div>
                <div style="padding: 30px 0;">
                    <div style="text-align: right; padding-bottom: 15px;">
                        <button (click)="print()" nzType="primary" nz-button class="btn-custom">
                            <i nz-icon nzType="printer" nzTheme="outline"></i>
                            {{'print'|translate}}
                        </button>
                    </div>
                    <nz-table #basicTable nzHideOnSinglePage="true" class="hide-table-placeholder no-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'name'|translate}}</th>
                                <th>{{'quantity'|translate}}</th>
                                <th>{{'price'|translate}}</th>
                                <th>{{'tax'|translate}}</th>
                                <th class="ta-right">{{'amount'|translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let item of model.items; let i = index">
                                <tr class="bg-white">
                                    <td style="width: 30px;">{{i+1}}</td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.quantity}} {{item.unit ? item.unit.name : ''}}
                                    </td>
                                    <td>
                                        {{currency}} {{item.unitPrice}}
                                        <ng-container *ngIf="item.unit">
                                            / {{item.unit.name}}
                                        </ng-container>
                                    </td>
                                    <td style="max-width: 150px;">—</td>
                                    <td class="ta-right">
                                        <strong>{{currency}} {{ item.total }}</strong>
                                    </td>
                                </tr>
                            </ng-container>
                            <!-- <tr class="bg-white no-border">
                                <td colspan="4"></td>
                                <td class="ta-right">
                                    <strong>{{'subtotal'|translate}}</strong>
                                </td>
                                <td class="ta-right">
                                    <strong>{{currency}} {{subtotal}}</strong>
                                </td>
                            </tr> -->
                            <tr *ngIf="model.adjustmentAmount" class="bg-white no-border">
                                <td colspan="4"></td>
                                <td class="border-bottom">
                                    {{model.adjustmentText}}
                                </td>
                                <td style="width: 150px;" class="ta-right border-bottom">
                                    <span [style.color]="model.adjustmentColor">
                                        {{model.adjustmentPrefix}} {{currency}} {{model.adjustmentAmount}}
                                    </span>
                                </td>
                            </tr>
                            <tr class="bg-white no-border">
                                <td colspan="4"></td>
                                <td class="border-bottom">
                                    <strong>{{'total'|translate}}</strong>
                                </td>
                                <td style="width: 150px;" class="ta-right border-bottom">
                                    <strong>{{currency}} {{model.total}}</strong>
                                </td>
                            </tr>
                            <tr class="bg-white no-border">
                                <td colspan="4"></td>
                                <td class="border-bottom">
                                    {{'payments'|translate}}
                                </td>
                                <td style="width: 150px;" class="ta-right border-bottom">
                                    <span style="color: red;">(-) {{currency}} {{model.paymentAmount}}</span>
                                </td>
                            </tr>
                            <tr class="bg-white no-border due-row">
                                <td colspan="4"></td>
                                <td class="border-bottom due-text">
                                    <strong>{{'due'|translate}}</strong>
                                    <span *ngIf="model.amountDue">
                                        <a>
                                            <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
                                            {{'give.x0.as.discount'|translate:{x0: currency + model.amountDue} }}
                                        </a>
                                    </span>
                                </td>
                                <td style="width: 150px;" class="ta-right border-bottom due-amount">
                                    <strong>{{currency}} {{model.amountDue}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
        <app-table #paymentTable [config]="paymentTableConfig"></app-table>
    </div>

    <app-payments-add-modal #paymentModal [(show)]="showPaymentModal" [data]="paymentModalData">
    </app-payments-add-modal>

    <nz-drawer [nzMask]="false" [nzClosable]="false" [nzWidth]="320" [nzVisible]="showCustomer" nzTitle="Cookbook">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>Name</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="please enter cookbook name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>Food</nz-form-label>
                    <nz-form-control>
                        <nz-tag>potato</nz-tag>
                        <nz-tag>eggplant</nz-tag>
                        <nz-tag>+</nz-tag>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="footer">
            <button type="button" (click)="closeCustomerDrawer()" class="ant-btn"
                style="margin-right: 8px;"><span>Cancel</span></button>
            <button type="button" (click)="closeCustomerDrawer()"
                class="ant-btn ant-btn-primary"><span>Submit</span></button>
        </div>
    </nz-drawer>
</div>