<app-box-loader *ngIf="loading" noData="noData"></app-box-loader>

<div *ngIf="!loading">
    
    <div class="box invoice-top">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <div class="display-flex align-items-center">
                        <span class="header">
                            {{ 'invoice'|translate }}
                            <span *ngIf="invoiceId">#{{invoiceId}}</span>
                            for ${{model.total}}
                        </span>
                        <span *ngIf="model.status" class="status-badge {{model.status.toLowerCase()}}">
                            <nz-tag>
                                <span>{{model.status}}</span>
                            </nz-tag>
                        </span>
                    </div>
                    <div>
                        <span>
                            Last saved 2 months ago
                        </span>
                    </div>
                    <div class="pad-t-15">
                        <button (click)="payment()" nz-button class="btn-custom">
                            <i nz-icon nzType="plus"></i>
                            {{'add.payment'|translate}}
                        </button>
                        <button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nz-button class="btn-custom">
                            <i nz-icon nzType="ellipsis"></i>
                        </button>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item>1st menu item</li>
                                <li nz-menu-item>2nd menu item</li>
                                <li nz-menu-divider></li>
                                <li nz-menu-item nzDisabled>disabled menu item</li>
                                <li nz-submenu nzTitle="sub menu">
                                    <ul>
                                        <li nz-menu-item>3rd menu item</li>
                                        <li nz-menu-item>4th menu item</li>
                                    </ul>
                                </li>
                                <li nz-submenu nzDisabled nzTitle="disabled sub menu">
                                    <ul>
                                        <li nz-menu-item>3rd menu item</li>
                                        <li nz-menu-item>4th menu item</li>
                                    </ul>
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>
                </div>
            </div>
            <div class="column">
                <button nz-button class="btn-custom">
                    {{'create.new.invoice'|translate}}
                </button>
            </div>
        </div>
        <div class="block bg-offset header-bottom pad-v-12 pad-h-20 box-divider display-flex">
            <div class="column v-divider">
                <div class="title fw-500">{{'total.amount'|translate}}</div>
                <div class="content">${{model?.total}}</div>
            </div>
            <div class="column v-divider">
                <div class="title fw-500">{{'customer'|translate}}</div>
                <div class="content fw-600">
                    <a (click)="showCustomerDrawer()">{{model?.customer?.name}}</a>
                    <!-- <a (click)="showCustomerDrawer()" nz-popover nzPopoverTrigger="click"
                            [nzPopoverContent]="contentTemplate">sahidul@bitmascot.com</a>
                        <ng-template #contentTemplate>
                            <a (click)="clickMe()">Close</a>
                        </ng-template> -->
                </div>
            </div>
            <div class="column v-divider">
                <div class="title fw-500">{{'amount.due'|translate}}</div>
                <div class="content">${{model?.amountDue}}</div>
            </div>
            <div class="column">
                <div class="title fw-500">{{'issue.date'|translate}}</div>
                <div class="content">{{model?.issueDate|date}}</div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">{{'details'|translate}}</span>
                </div>
            </div>
            <div class="column">
                <!-- <nz-button-group> -->
                <button nz-button class="btn-custom">
                    <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
                    {{'download.pdf'|translate}}
                </button>
                <button nz-button class="btn-custom">
                    <i nz-icon nzType="printer" nzTheme="outline"></i>
                    {{'print'|translate}}
                </button>
                <button nz-button class="btn-custom">
                    <i nz-icon nzType="mail" nzTheme="outline"></i>
                    {{'send.email'|translate}}
                </button>
                <!-- </nz-button-group> -->
            </div>
        </div>
        <div class="block bg-offset invoice-view box-divider">
            <div class="content bg-white">
                <div class="ribbon text-ellipsis tooltip-container">
                    <div class="ribbon-inner ribbon-open">{{model.status}}</div>
                </div>
                <div class="invoice-template">
                    <div class="head-space"></div>
                    <div class="invoice-header">
                        <div class="left">
                            <div *ngIf="model" class="customer info-customer">
                                <div class="mb-14">
                                    <div>{{model?.customer?.name}}</div>
                                    <div>{{model?.customer?.contact}}</div>
                                    <div>{{model?.customer?.mobile}}</div>
                                    <div>{{model?.customer?.email}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="title font-28">
                                <span>INVOICE</span>
                            </div>
                            <table>
                                <tr>
                                    <td class="ta-right">
                                        <span>{{'invoice.date'|translate}} :</span>
                                    </td>
                                    <td class="last">
                                        <span>{{model?.issueDate|date}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="ta-right">
                                        <span>{{'payment.due'|translate}} :</span>
                                    </td>
                                    <td class="last">
                                        <span>{{model?.paymentDueDate|date}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="invoice-items">
                        <nz-table #basicTable nzHideOnSinglePage="true" class="hide-table-placeholder">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{{'items'|translate}}</th>
                                    <th>{{'description'|translate}}</th>
                                    <th>{{'quantity'|translate}}</th>
                                    <th>{{'price'|translate}}</th>
                                    <th class="ta-right">{{'amount'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let data of model.items; let i = index">
                                    <tr class="bg-white">
                                        <td>{{i+1}}</td>
                                        <td>
                                            {{ data?.name }}
                                        </td>
                                        <td>
                                            <span>{{data?.description}}</span>
                                        </td>
                                        <td class="fit-cell">
                                            <span>{{data?.quantity}}</span>
                                        </td>
                                        <td style="width: 160px;">
                                            <span>{{data?.unitPrice}}</span>
                                        </td>
                                        <td class="ta-right">
                                            <span>{{ data?.total }}</span>
                                        </td>
                                    </tr>
                                </ng-container>
                                <tr class="bg-white ta-right invoice-bottom">
                                    <td colspan="5">
                                        {{'subtotal'|translate}}
                                    </td>
                                    <td>
                                        {{subtotal}}
                                    </td>
                                </tr>
                                <tr class="bg-white fw-600 ta-right invoice-bottom">
                                    <td colspan="5">{{'total'|translate}}</td>
                                    <td>{{total}}</td>
                                </tr>
                                <tr class="bg-white ta-right invoice-bottom">
                                    <td colspan="5">
                                        {{'payments'|translate}}
                                    </td>
                                    <td>(-) {{model?.paymentAmount}}</td>
                                </tr>
                                <tr class="bg-white ta-right fw-600 invoice-bottom">
                                    <td colspan="5">
                                        {{'due'|translate}}
                                    </td>
                                    <td>{{model?.amountDue}}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-payments-add-modal [(show)]="showPaymentModal" [data]="paymentModalData"></app-payments-add-modal>

    <nz-drawer [nzMask]="false" [nzClosable]="false" [nzWidth]="320" [nzVisible]="showCustomer" nzTitle="Cookbook">
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>Name</nz-form-label>
                    <nz-form-control>
                        <input nz-input placeholder="please enter cookbook name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="24">
                <nz-form-item>
                    <nz-form-label>Food</nz-form-label>
                    <nz-form-control>
                        <nz-tag>potato</nz-tag>
                        <nz-tag>eggplant</nz-tag>
                        <nz-tag>+</nz-tag>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="footer">
            <button type="button" (click)="closeCustomerDrawer()" class="ant-btn"
                style="margin-right: 8px;"><span>Cancel</span></button>
            <button type="button" (click)="closeCustomerDrawer()"
                class="ant-btn ant-btn-primary"><span>Submit</span></button>
        </div>
    </nz-drawer>
</div>

<!-- <div class="box">
    <div class="block header pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">{{'timeline'|translate}}</span>
            </div>
        </div>
    </div>
    <div class="block timeline pad-v-12 pad-h-20 box-divider display-flex">
        <div class="edge">
            <span class="margin-right-12">
                <i nz-icon nzType="dollar"></i>
            </span>
        </div>
        <div class="content">
            <div class="title">
                <span>$20.00 payment succeeded</span>
            </div>
            <div class="time font-12 color-gray">
                <span>Dec 31, 2019, 5:48 PM</span>
            </div>
        </div>
    </div>
    <div class="block timeline pad-v-12 pad-h-20 box-divider display-flex">
        <div class="edge">
            <span class="margin-right-12">
                <i nz-icon nzType="user"></i>
            </span>
        </div>
        <div class="content">
            <div class="title">
                <span>Invoice was finalized</span>
            </div>
            <div class="time font-12 color-gray">
                <span>Dec 31, 2019, 5:48 PM</span>
            </div>
        </div>
    </div>
</div> -->