<app-form [content]="content" [component]="self">
    <ng-template #content>
        <form nz-form [formGroup]="form">
            <div nz-row>
                <div nz-col nzSpan="12">
                    <app-input label="name" formControlName="name" placeholder="name"></app-input>

                    <app-select-control tooltip="category.tooltip" label="product.category" #categoriesSelect [formControl]="form.controls.categories" mode="multiple">
                    </app-select-control>

                    <app-text label="description" formControlName="description" placeholder="description">
                    </app-text>
                </div>
            </div>
            <nz-space></nz-space>
            <div nz-row>
                <div nz-col nzSpan="11">
                    <app-checkbox #isSaleCheckbox formControlName="isSale" label="sales.information"></app-checkbox>

                    <app-input [disable]="!form.controls.isSale.value" prefix="৳" label="price" type="number" formControlName="salesPrice" placeholder="price">
                    </app-input>

                    <app-select-control label="unit" #salesUnitSelect [formControl]="form.controls.salesUnitId">
                    </app-select-control>

                    <app-text label="description" formControlName="salesDescription" placeholder="description">
                    </app-text>

                    <app-select-control label="tax" #salesTaxSelect [formControl]="form.controls.salesTaxes">
                    </app-select-control>

                    <app-select-control label="account" #salesAccountSelect [formControl]="form.controls.salesAccountId">
                    </app-select-control>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="11">
                    <app-checkbox formControlName="isPurchase" label="purchase.information"></app-checkbox>

                    <app-input prefix="৳" label="price" type="number" formControlName="purchasePrice" placeholder="price">
                    </app-input>

                    <app-select-control label="unit" #purchaseUnitSelect [formControl]="form.controls.purchaseUnitId">
                    </app-select-control>

                    <app-text label="description" formControlName="purchaseDescription" placeholder="description">
                    </app-text>

                    <app-select-control label="tax" #purchaseTaxSelect [formControl]="form.controls.purchaseTaxes">
                    </app-select-control>

                    <app-select-control label="supplier" #supplierSelect [formControl]="form.controls.supplierId">
                    </app-select-control>

                    <app-select-control label="account" #purchaseAccountSelect [formControl]="form.controls.purchaseAccountId">
                    </app-select-control>
                </div>
            </div>
            <nz-space></nz-space>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <app-checkbox formControlName="isInventory" label="inventory.information"
                        tooltip="enable.inventory.to.track" info="cannot.enable.disable.inventory.tracking">
                    </app-checkbox>

                    <app-input label="initial.quantity.on.hand" type="number" formControlName="stockQuantity" placeholder="quantity">
                    </app-input>

                    <app-input tooltip="low.stock.alert.tooltip" label="low.stock.alert" type="number" formControlName="lowStockQuantity" placeholder="quantity">
                    </app-input>

                    <app-select-control label="account" #inventoryAccountSelect [formControl]="form.controls.inventoryAccountId">
                    </app-select-control>
                </div>
            </div>
            <nz-space></nz-space>
        </form>
    </ng-template>
</app-form>