<!-- <div class="box">
    <div class="block pad-v-12 pad-h-20">
    </div>
</div> -->
<div class="box">
    <div class="block header pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button nz-button class="btn-custom">
                <i nz-icon nzType="filter" nzTheme="fill"></i>
                {{'filter'|translate}}
            </button>
        </div>
        <div class="column">
            <button (click)="add()" nz-button class="btn-custom">
                <i nz-icon nzType="plus" nzTheme="outline"></i>
                {{'new'|translate}}
            </button>
            <button (click)="refresh()" nz-button class="btn-custom">
                <i nz-icon nzType="sync" nzTheme="outline"></i>
                {{'refresh'|translate}}
            </button>
        </div>
    </div>
    <div class="block">
        <nz-table #basicTable nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate"
            [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzData]="listOfData">
            <thead>
                <tr>
                    <th>{{'name'|translate}}</th>
                    <th>{{'email'|translate}}</th>
                    <th>{{'address'|translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data">
                    <td>
                        <div>
                            <span (click)="add(data)" class="cursor-pointer fw-500 ft-14">
                                {{ data.name }}
                            </span>
                        </div>
                        <div>
                            {{data.contact}}
                        </div>
                    </td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.mobile }}</td>
                    <td class="action-column">
                        <span (click)="add(data)" class="edit" title="{{'edit'|translate}}">
                            <i nz-icon nzType="edit"></i>
                        </span>
                        <span (click)="delete(data)" class="delete" title="{{'delete'|translate}}">
                            <i nz-icon nzType="delete"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 24px;"></i> </ng-template>