<app-box-loader *ngIf="loading"></app-box-loader>
<div class="box no-shadow" style="margin: 0; margin-left: 1px;" *ngIf="!loading">
    <div [ngStyle]="headerStyle" class="block page-header">
        <div class="column">
            <h1 class="no-margin">{{config?.pageTitle|translate}}</h1>
        </div>
        <div class="column">
            <!-- <button nz-button class="btn-custom">
                <i nz-icon nzType="filter" nzTheme="fill"></i>
                {{'filter'|translate}}
            </button> -->
            <ng-container *ngFor="let b of config?.topRightButtons">
                <button [nzType]="b.type" (click)="executeAction(b)" nz-button class="btn-custom">
                    <i *ngIf="b.icon" nz-icon [nzType]="b.icon"></i>
                    {{b.label|translate}}
                </button>
            </ng-container>
            <button class="btn-custom header-actions-btn" nzTrigger="click" nz-button nz-dropdown
                [nzDropdownMenu]="dropdownActions" nzPlacement="bottomRight">
                <i nz-icon nzType="setting"></i>
                <i nz-icon nzType="down"></i>
            </button>
            <nz-dropdown-menu #dropdownActions="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>
                        <i nz-icon nzType="download" nzTheme="outline"></i>
                        {{'import'|translate}}
                    </li>
                    <li nz-menu-item>
                        <i nz-icon nzType="upload" nzTheme="outline"></i>
                        {{'export'|translate}}
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
    <div class="block">
        <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false"
            (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)" #basicTable
            nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total"
            [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzData]="items"
            [nzPageSizeOptions]="pageSizeOptions" [nzNoResult]="noResultTemplate">
            <thead>
                <tr class="v-align-top advanced-table-filter">
                    <ng-container *ngTemplateOutlet="head"></ng-container>
                </tr>
            </thead>
            <tbody>
                {{log(items)}}
                {{log(basicTable.data)}}
                <tr *ngFor="let data of basicTable.data">
                    <ng-container *ngTemplateOutlet="body; context: {rowData: data}"></ng-container>
                    <td class="action-column fit-cell">
                        <app-table-actions [data]="data" [buttons]="defaultRowButtons"></app-table-actions>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>

<ng-template #rangeTemplate let-range="range" let-total>
    {{ 'x0-x1.of.x2.items'|translate:{x0: numberService.convert(range[0].toString()), x1: numberService.convert(range[1].toString()), x2: numberService.convert(total.toString())} }}
</ng-template>

<ng-template #noResultTemplate>
    {{'not.found'|translate}}
</ng-template>