<app-table-header [data]="tableHeader"></app-table-header>
<div class="body">
    <form nz-form [formGroup]="validateForm">

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">First name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input firstname">
                <nz-input-group nzPrefixIcon="user">
                    <input [(ngModel)]="firstname" type="text" nz-input formControlName="firstname"
                        placeholder="First Name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">Last name</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input lastname">
                <nz-input-group nzPrefixIcon="user">
                    <input [(ngModel)]="lastname" type="text" nz-input formControlName="lastname"
                        placeholder="Last Name" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">Email</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input email">
                <nz-input-group nzPrefixIcon="mail">
                    <input [(ngModel)]="email" type="email" nz-input formControlName="email" placeholder="Email" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">Groups</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" class="user-groups-control">
                <nz-select [nzLoading]="loading" formControlName="userGroup" nzMode="multiple" nzPlaceHolder="Select user group" [(ngModel)]="selectedGroups">
                    <nz-option *ngFor="let g of userGroups" [nzLabel]="g.name" [nzValue]="g.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">Resources</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" class="user-resources-control">
                <nz-select [nzLoading]="loading" formControlName="userGroup" nzMode="multiple" nzPlaceHolder="Select resources" [(ngModel)]="selectedGroups">
                    <nz-option *ngFor="let g of userGroups" [nzLabel]="g.name" [nzValue]="g.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>

    </form>
</div>