<app-box-loader *ngIf="loading"></app-box-loader>
<div class="box no-shadow" style="margin-top: 0;" *ngIf="!loading">
    <div class="block page-header">
        <div class="column">
            <h1 class="no-margin">
                <span>{{ title }}</span>
            </h1>
        </div>
        <div class="column">
        </div>
    </div>
    <div class="block pad-t-20">
        <div class="content">
            <form nz-form [formGroup]="form">
                <app-input label="name" formControlName="name" placeholder="name"></app-input>

                <app-input label="symbol" formControlName="symbol" placeholder="symbol"></app-input>

                <app-select-control label="type" #typeSelect
                    [formControl]="form.controls.typeId">
                </app-select-control>

                <app-text label="description" formControlName="description" placeholder="description">
                </app-text>

                <app-save-cancel-button [submitButtonText]="submitButtonText" [submitting]="submitting"
                    (onSubmit)="submit()" (onCancel)="cancel()">
                </app-save-cancel-button>
            </form>
        </div>
    </div>
</div>