<app-form [content]="content" [component]="self">
    <ng-template #content>
        <form nz-form [formGroup]="form">
            <app-input label="name" formControlName="name" placeholder="name"></app-input>

            <app-input label="symbol" formControlName="symbol" placeholder="symbol"></app-input>

            <app-select-control label="type" #typeSelect [formControl]="form.controls.typeId">
            </app-select-control>

            <app-text label="description" formControlName="description" placeholder="description">
            </app-text>
        </form>
    </ng-template>
</app-form>