/* You can add global styles to this file, and also import other style files */

@media print {
    body {
        display: none !important;
    }

    @page {
        padding: 0;
        margin: 0;
    }
}

@mixin box-shadow-m {
    // box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

@mixin error-color {
    color: #cd3d64;
}

@mixin edit-color {
    color: #5873d6;
}

@mixin tag-text-color {
    color: #395260;
}

@mixin color-gray {
    color: #697386;
}

@font-face {
    font-family: SolaimanLipi;
    src: url(assets/fonts/SolaimanLipi.ttf);
}

.app-layout.bn {
    font-family: SolaimanLipi !important;
}

body {
    color: #3c4257;
    background-color: #f0f2f5;
    font-family: SolaimanLipi !important;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    @include edit-color;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

span.ant-table-column-title {
    text-transform: uppercase;
    font-size: 13px;
}

.ant-table {
    font-size: 15px;

    .action-column {
        text-align: right;

        >span {
            cursor: pointer;
            margin-left: 10px;
            font-size: 16px;
        }
    }
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    padding: 8px 16px;
}

.ant-table-thead>tr:first-child>th:first-child,
.ant-table-thead>tr:first-child>th:last-child {
    border-radius: 0;
}

.no-hover .ant-table-tbody>tr.ant-table-row:hover>td {
    background: none !important;
}

app-layout-default .menu-sidebar {
    box-shadow: none;
}

.ant-layout {
    background-color: unset;
}

.ant-layout-header {
    height: unset;
}

.ant-layout-sider,
.ant-menu,
.ant-menu-submenu>.ant-menu {
    background: none;
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
    font-size: 16px;
}

.ant-menu-inline-collapsed>.ant-menu-submenu>.ant-menu-submenu-title {
    padding-left: 20px !important;
}

.ant-menu-inline {
    .ant-menu-item {
        padding-right: 0;
        margin: 0 !important;
        line-height: 32px;
    }

    .ant-menu-submenu-title {
        padding-right: 0 !important;
        height: auto !important;
        line-height: 34px !important;
        margin: 0 !important;
    }

    .li-inner-div {
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        display: flex;
        align-items: center;

        &:active {
            background-color: #d8d9dc;
        }

        &:hover {
            background-color: #e4e6e9;
        }
    }
}

nz-sider {
    .ant-menu {
        font-size: 15px;
        color: #1a1f36;
    }

    .ant-menu-inline {
        border: unset;
    }

    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
        border: none;
    }

    .ant-layout-sider-trigger {
        color: #1a1f36;
        height: 35px;
        line-height: 35px;
        background-color: #f0f2f5;
    }
}

.app-right-drawer {
    top: 63px;
}

@mixin btn-shadow {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
        rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px,
        rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-primary {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
        rgb(84, 105, 202, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-primary-hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
        rgb(84, 105, 202, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-danger {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
        rgb(205, 61, 100, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-danger-hover {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
        rgb(205, 61, 100, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

// Custom stripe button style
.ant-pagination {
    li {
        font-weight: 500;
        height: 28px;
        line-height: 28px;
        @include btn-shadow;

        a {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
    }

    .ant-pagination-item {
        border: none;
    }

    .ant-pagination-total-text {
        box-shadow: none;
    }
}

.ant-pagination-disabled a,
.ant-pagination-disabled:hover a,
.ant-pagination-disabled:focus a,
.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus .ant-pagination-item-link {
    border-color: unset;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
    border: unset;
}

.btn-custom,
.ant-modal-confirm-btns button {
    font-weight: 500;
    border: none;
    padding: 0 8px;
    font-size: 16px;

    &.ant-btn-default,
    &.ant-btn {
        @include btn-shadow;
    }

    &.ant-btn-default:hover,
    &.ant-btn:hover {
        @include btn-shadow-hover;
    }

    &.ant-btn-default {
        color: rgb(60, 66, 87);
    }

    &.ant-btn-primary {
        @include btn-shadow-primary;
    }

    &.ant-btn-primary:hover {
        @include btn-shadow-primary-hover;
    }

    &.ant-btn-danger {
        background: #e24520;
        color: #fff;
        @include btn-shadow-danger;
    }

    &.ant-btn-danger:hover {
        @include btn-shadow-danger-hover;
    }

    z-index: auto !important;
}

.header-actions-btn {
    width: 45px;

    >i {
        padding-right: 5px;
    }
}

app-table-actions {
    button.btn-custom.ant-dropdown-trigger {
        box-shadow: none;
        background-color: transparent;
        height: 23px;
    }

    button.btn-custom.ant-dropdown-trigger:hover {
        background-color: #fff;
    }
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
    font-size: 15px;

    i {
        font-size: 15px !important;
    }
}

nz-table tr:hover {

    button.btn-custom.ant-dropdown-trigger:hover,
    button.btn-custom.btn-action:hover {
        background-color: #fff;
    }
}

.pad-t-20 {
    padding-top: 20px;
}

.pad-t-15 {
    padding-top: 15px;
}

.pad-b-10 {
    padding-bottom: 10px;
}

.pad-v-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pad-v-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.pad-h-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.pad-r-20 {
    padding-right: 20px;
}

.margin-top-5 {
    margin-top: 5px;
}

.box-divider:not(:last-child) {
    box-shadow: inset 0 -1px #e3e8ee;
}

.bg-white {
    background-color: #fff;
}

.bg-offset {
    background-color: #f7fafc !important;
}

.page-header {
    padding: 12px 0 0 16px;
}

.box {
    border-radius: 5px;
    padding-bottom: 0.1px;
    @include box-shadow-m;

    .block {
        background-color: #fff;

        &:first-child {
            border-radius: 5px 5px 0 0;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }

        .content {
            .header-container {
                display: flex;
                flex-direction: column;

                .header {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: normal;
                }

                .header-description {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                }
            }
        }

        app-input {
            display: flex;
            flex-direction: column;
        }

        .form-item {
            padding: 0 20px 15px 20px;
            margin: 0;

            input,
            nz-form-control {
                max-width: 350px;
                font-size: 15px;
            }

            textarea {
                max-width: 450px;
                margin-top: 3px;
                font-size: 15px;
            }

            label {
                font-weight: 500;
                color: #1a1f36;
                min-width: 170px;
                display: flex;
                font-size: 15px;
            }

            nz-select-placeholder {
                font-size: 15px;
            }

            .ant-checkbox-inner {
                width: 18px;
                height: 18px;

                &:after {
                    left: 25%;
                }
            }
        }

        &.footer,
        &.header,
        &.page-header {
            display: flex;
            align-items: center;

            .column {
                display: flex;
                width: 100%;
                align-items: center;

                &:last-child {
                    justify-content: flex-end;
                }

                button:not(:first-child) {
                    margin-left: 8px;
                }
            }
        }
    }
}

.form-footer {
    .inner {
        box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        padding: 15px 16px;
    }

    position: fixed;
    bottom: 0;
    box-shadow: 0 -4px 5px -3px rgb(0 0 0 / 10%);
    width: calc(100% - 254px);
    background: #fff;
}

nz-date-picker:hover,
nz-date-picker:focus,
// nz-input-group:hover,
// nz-input-group:focus,
input[nz-input]:hover,
input[nz-input]:focus,
nz-picker input:hover,
nz-picker input:focus,
nz-select .ant-select-selection:hover,
nz-select .ant-select-selection:focus,
textarea:hover,
textarea:focus {
    border: 1px solid #d9d9d9 !important;
}

.advanced-table-filter button,
.advanced-table-filter input,
.advanced-table-filter nz-select {
    height: 27px;
    margin-top: 5px;
    font-weight: 400;
}

.ant-select-item-empty {
    color: rgba(0, 0, 0, 0.65);
}

.shadow-m {
    @include box-shadow-m;
}

.no-shadow {
    box-shadow: none !important;
}

.no-margin {
    margin: 0;
}

.no-bg {
    background-color: unset;

    td,
    th {
        background-color: unset !important;
    }
}

.m-24 {
    margin: 24px;
}

.margin-right {
    &.px5 {
        margin-right: 5px;
    }

    &.px10 {
        margin-right: 10px;
    }
}

.font-18 {
    font-size: 18px;
}

.font-28 {
    font-size: 28px;
}

.font-12 {
    font-size: 12px;
}

.space-between {
    justify-content: space-between;
}

nz-header .ant-badge-count {
    min-width: 18px;
    height: 18px;
    padding: 0 3px;
    font-size: 11px;
    line-height: 18px;
    background-color: #e24520;
    top: 4px;
    right: 3px;
}

.cursor-pointer {
    cursor: pointer;
}

.ant-spin-nested-loading>div>.ant-spin {
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 500;
}

.fn-14 {
    font-size: 14px;
}

.mb-14 {
    margin-bottom: 14px;
}

.margin-right-12 {
    margin-right: 12px;
}

.fs-i {
    font-style: italic;
}

.center {
    text-align: center;
}

.hide-table-placeholder {
    .ant-table-placeholder {
        display: none !important;
    }
}

.ta-right {
    text-align: right !important;
}

.delete {
    :hover {
        @include error-color;
    }
}

.edit {
    :hover {
        @include edit-color;
    }
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.color-gray {
    @include color-gray;
}

.v-divider {
    box-shadow: inset -1px 0 #e3e8ee;
}

.header-bottom {
    .title {
        @include color-gray;
        padding-bottom: 5px;
    }

    .column {
        padding: 0 24px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

.custom-tabs {
    border-radius: 5px !important;

    nz-radio-group {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        .ant-radio-button-wrapper {
            border: none;
            height: unset;
            padding: 10px 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            font-weight: 600;

            &:not(:last-child) {
                box-shadow: inset -1px 0 #e3e8ee;
            }

            background-color: #f7fafc;

            &:not(:first-child):before {
                display: none !important;
            }
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
            border-bottom: 3px solid;
            background-color: #fff;

            &:not(:last-child) {
                box-shadow: inset -1px 0 #e3e8ee !important;
            }

            &:last-child {
                box-shadow: -1px 0 #e3e8ee !important;
            }
        }
    }
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ribbon {
    position: absolute !important;
    top: -5px;
    left: -5px;
    overflow: hidden;
    width: 96px;
    height: 94px;

    .ribbon-inner {
        text-align: center;
        color: #fff;
        top: 24px;
        left: -31px;
        width: 135px;
        padding: 3px;
        position: relative;
        transform: rotate(-45deg);

        &:after,
        &:before {
            content: "";
            border-top: 5px solid transparent;
            border-left: 5px solid;
            border-left-color: inherit;
            border-right: 5px solid transparent;
            border-bottom: 5px solid;
            border-bottom-color: inherit;
            position: absolute;
            top: 20px;
            transform: rotate(-45deg);
        }

        &:after {
            right: -3px;
            border-bottom: 3px solid transparent;
        }

        &:before {
            left: 0;
            border-left: 2px solid transparent;
        }
    }

    .ribbon-open {
        background-color: #268ddd;
        border-color: #1c72b4;
    }
}

.border-radius-5 {
    border-radius: 5px !important;
}

.box {
    &.box-loader {
        .box-loader-inner {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: calc(30vh);
            flex-direction: column;

            i {
                @include edit-color;
            }
        }
    }
}

.ant-modal-header,
.ant-modal-body,
.ant-modal-footer {
    padding: 0;
}

.ant-modal-header {
    padding: 20px 0;
}

.status-badge {
    .ant-tag {
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 10px;
        border: none;
        font-weight: 500;
    }

    &.paid,
    &.succeed {
        .ant-tag {
            background-color: #d6ecff;
            color: #3d4eac;
        }
    }

    &.failed,
    &.due,
    &.unpaid {
        .ant-tag {
            background-color: #f8e5b9;
            color: #983705;
        }
    }
}

.fit-cell {
    width: 1%;
    white-space: nowrap;
}

.drawer-header {
    padding: 15px 20px;
    background: #f3f8fe;
    box-shadow: 0 1px #e3e8ee;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;

        .title-text {
            font-size: 16px;
        }
    }

    .search {

        input:hover,
        input:focus {
            border: none !important;
        }

        .ant-input-affix-wrapper {
            border-radius: 16px;

            &:hover {
                border: 1px solid #d9d9d9;
            }
        }
    }
}

.drawer-body {
    padding: 15px 20px;

    li[nz-menu-item] {
        padding-left: 0;
    }

    .ant-menu-inline,
    .ant-menu-vertical,
    .ant-menu-vertical-left {
        border-right: none;
    }
}

app-layout-default {
    nz-content {
        margin-top: -1px;

        .ps-content {
            .inner-content {
                height: 100%;

                .box {
                    height: 100%;
                    background: #fff;
                }
            }
        }
    }
}

app-table-actions {
    .action-buttons {
        .outer-action-buttons {
            span:not(:first-child) {
                padding-left: 6px;
            }

            span:hover {
                color: #5469d4;
            }
        }
    }
}

.ant-popover-inner-content {
    padding: 0;
}

div.ant-menu-submenu {
    background-color: #fff;
}

.search-global {
    margin-left: 23px;

    .ant-input-affix-wrapper {
        border: unset;
        background: #f0f2f5;
        border-radius: 50px;
        font-size: 16px;
        line-height: 30px;

        &>input.ant-input {
            background: none;
        }
    }

    input:focus,
    input:hover {
        border: none !important;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        box-shadow: none !important;
    }
}

.no-border {
    td {
        border: none !important;
    }

    border: none;
}

.line-item {

    input:focus,
    input:hover,
    input,
    .ant-input-group-addon,
    .ant-input-affix-wrapper,
    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper:active,
    .ant-input-affix-wrapper-activated,
    nz-select,
    .ant-select,
    .ant-select-selector {
        border: none !important;
        box-shadow: none !important;
        background: none !important;
    }

    input,
    .ant-input-group-addon {
        padding-left: 0 !important;
    }
}

.hide-number-input-arrow {

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}