<nz-modal [(nzVisible)]="show" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" class="box">

    <ng-template #modalTitle>
        <div class="block pad-v-12 pad-h-20 box-divider">
            <div class="content">
                <div class="header-container">
                    <span class="header">
                        {{ data.title }}
                    </span>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalContent>
        <app-form [showTitleBar]="false" [showFooter]="false" [content]="content" [component]="self">
            <ng-template #content>
                <form nz-form [formGroup]="form">
                    <app-input label="number" formControlName="number" placeholder="number">
                    </app-input>
                    
                    <app-date-picker label="payment.date" placeholder="payment.date" formControlName="paymentDate">
                    </app-date-picker>

                    <app-input [prefix]="data.currency" label="payment.amount" type="number" formControlName="amount" placeholder="payment.amount">
                    </app-input>

                    <app-select-control [registerFn]="registerPaymentMethodSelect" label="payment.method" [formControl]="form.controls.paymentMethod">
                    </app-select-control>

                    <app-text label="memo" formControlName="memo" placeholder="memo">
                    </app-text>
                </form>
            </ng-template>
        </app-form>

    </ng-template>

    <ng-template #modalFooter>
        <div class="block footer pad-v-12 pad-h-20 box-divider">
            <div class="column">
                <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                    <span *ngIf="data.mode == 'add'">
                        {{'add.payment'|translate}}
                    </span>
                    <span *ngIf="data.mode == 'edit'">
                        {{'update.payment'|translate}}
                    </span>
                </button>
                <button (click)="handleCancel()" nz-button class="btn-custom">
                    {{'cancel'|translate}}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>