<nz-modal [(nzVisible)]="show" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()" class="box">

    <ng-template #modalTitle>
        <div class="block pad-v-12 pad-h-20 box-divider">
            <div class="content">
                <div class="header-container">
                    <span class="header">
                        {{ data.title }}
                    </span>
                    <!-- <span class="header-description margin-top-5">
                        Record a payment you’ve already received, such as cash, cheque, or bank payment.
                    </span> -->
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #modalContent>
        <app-form [showTitleBar]="false" [showFooter]="false" [content]="content" [component]="self">
            <ng-template #content>
                <form nz-form [formGroup]="form">
                    <app-date-picker label="payment.date" placeholder="payment.date" formControlName="paymentDate">
                    </app-date-picker>

                    <app-input prefix="৳" label="amount" type="number" formControlName="amount" placeholder="amount">
                    </app-input>

                    <app-select-control label="payment.method" #paymentMethodSelect [formControl]="form.controls.paymentMethod">
                    </app-select-control>

                    <!-- <nz-form-item class="field-container">
                        <div>
                            <label>{{'payment.account'|translate}}</label>
                        </div>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                            <nz-select (ngModelChange)="paymentAccountSelectOnChange($event)" formControlName="paymentAccount"
                                nzShowSearch nzAllowClear [nzPlaceHolder]="'payment.account'|translate">
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item> -->

                    <app-text label="memo" formControlName="memo" placeholder="memo">
                    </app-text>
                </form>
            </ng-template>
        </app-form>

    </ng-template>

    <ng-template #modalFooter>
        <div class="block footer pad-v-12 pad-h-20 box-divider">
            <div class="column">
                <button (click)="handleCancel()" nz-button class="btn-custom">
                    {{'cancel'|translate}}
                </button>
                <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                    <span *ngIf="data.mode == 'add'">
                        {{'add'|translate}}
                    </span>
                    <span *ngIf="data.mode == 'edit'">
                        {{'update'|translate}}
                    </span>
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>