.resource-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
}

.resources-control {
    .ant-form-item-children {
        display: flex;
        nz-select {
            flex: 1
        }
    }
}

.resource-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.resource-box-header {
    display: flex;
    align-items: center;
    span {
        flex: 1;
    }
    i {
        cursor: pointer;
    }
}
