<ng-container *ngIf="component">
    <app-box-loader *ngIf="component.loading"></app-box-loader>
    <div class="box" [style.display]="component.loading ? 'none' : ''">
        <div *ngIf="showTitleBar" [ngStyle]="headerStyle" class="block page-header">
            <div class="column" style="flex-direction: column; align-items: flex-start;">
                <div>
                    <a (click)="component.cancel()" style="font-size: 12px;">
                        <i nz-icon nzType="arrow-left"></i>
                        {{ 'back'|translate }}
                    </a>
                </div>
                <h1 class="no-margin">
                    <span> {{ component.title }}</span>
                </h1>
            </div>
            <div class="column">
            </div>
        </div>
        <div class="block pad-t-20">
            <div class="content">
                <ng-container *ngTemplateOutlet="content"></ng-container>
            </div>
        </div>
    </div>

    <div *ngIf="showFooter" class="form-footer" [style.display]="component.loading ? 'none' : ''">
        <div class="inner">
            <button [nzLoading]="component.submitting" (click)="component.submit()" nz-button
                class="btn-custom margin-right px10" nzType="primary">
                <span *ngIf="component.submitButtonText">
                    {{component.submitButtonText|translate}}
                </span>
                <span *ngIf="!component.submitButtonText">
                    {{'save'|translate}}
                </span>
            </button>
            <button (click)="component.cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
        </div>
    </div>
</ng-container>