<ng-container *ngIf="component">
    <app-box-loader *ngIf="component.loading"></app-box-loader>
    <div class="box no-shadow" style="margin-top: 0;" [style.display]="component.loading ? 'none' : ''">
        <div class="block page-header">
            <div class="column">
                <h1 class="no-margin">
                    <span>{{ component.title }}</span>
                </h1>
            </div>
            <div class="column">
            </div>
        </div>
        <div class="block pad-t-20">
            <div class="content">
                <ng-container *ngTemplateOutlet="content"></ng-container>
                <app-save-cancel-button [submitButtonText]="component.submitButtonText"
                    [submitting]="component.submitting" (onSubmit)="component.submit()" (onCancel)="component.cancel()">
                </app-save-cancel-button>
            </div>
        </div>
    </div>
</ng-container>